* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    background-attachment: fixed;
}

.title-container {
    background-image: url('https://wallpapercave.com/wp/wp2681845.jpg');
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-top: 30px;
    padding: 40px;
}

.image-container {
    display: flex;
    justify-content: center;

}

.hide {
    display: none;
}

#score-container[display-score] {
    padding: 80px 30px;
    background-image: linear-gradient(to left, #E55D87 0%, #5FC3E4 51%, #E55D87 100%);
    display: flex;
    justify-content: space-between;
}

#display-winner[display-winner] {
    color: white;
    display: flex;
    align-items: center;
}


#buttons-container {
    margin-top: 30px;
    text-align: center;
}

.players-choice-container {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.user-choice-container {
    display: flex;
}

#play-btn,
#new-game-btn {
    background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4 51%, #E55D87 100%);
    margin: 10px;
    padding: 15px 45px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border-color: whitesmoke;
}

#play-btn:hover,
#new-game-btn:hover {
    background-position: right center;
}

#question-mark-icon {
    margin-top: 60px;
    animation: computer-icon-swing 1s linear none infinite;
}

@keyframes computer-icon-swing {
    0% {
        transform: rotate(10deg);

    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(10deg);

    }
}


.user-choice-container img {
    animation: user-icons-fade 1s linear none infinite;
}

.user-choice-container img:hover {
    transform: translateY(30px);
    animation-play-state: paused !important;
}

@keyframes user-icons-fade {
    0% {
        opacity: 0;

    }

    50% {
        opacity: 1;

    }

    100% {
        opacity: 0;

    }

}