* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.theme-light {
    --color-primary: yellowgreen;
    --color-secondary: floralwhite;
    --color-accent: yellowgreen;
    --font-color: #000000;
    --background-color: #a2d0444d;
    --background-gradient: 117deg, rgba(123, 216, 96, 1) 39.2%, rgba(255, 255, 255, 1) 156.2%;

}

.theme-dark {
    --color-primary: #496925;
    --color-secondary: #577c0d;
    --color-accent: yellowgreen;
    --font-color: #75933a;
    --background-color: #6c8340;
}

.display {
    display: inline-flex;
}

.no-display {
    display: none !important;
}

.btn-style {
    background-color: transparent;
    border: none;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.btn {
    width: 24.5em;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}

.gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

#registerContainer2 {
    width: 100% !important;
    overflow-y: hidden;
}

#grid-container {
    display: grid;
    grid-template-areas:
        "head head head"
        "nav section section"
        "foot foot foot";
    grid-template-rows: 7.4rem 32rem 9rem;
    grid-template-columns: 13rem 1fr;
}

header {
    grid-area: head;

}

#headerNav {
    padding: 1rem;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    background-color: var(--color-primary);
}

h3 {
    color: var(--font-color);
    margin-top: 1rem;
}

#icon-item-container {
    display: flex;
}

@keyframes swing {
    0% {
        transform: rotate(10deg);

    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(10deg);

    }
}

.icon-item {
    margin: 1rem 2rem;
    text-align: center;
}

.icon-item:hover {
    animation: swing 1s linear none infinite;

}

.icon-item:hover div {
    visibility: visible;

}

.icon-text {
    color: var(--font-color);
    text-align: center;
    visibility: hidden;
    padding-top: 3px;
}

nav {
    grid-area: nav;
    height: inherit;

}

#sidenav-container {
    height: auto;
    padding-top: 40px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-secondary);
}

.btn-style {
    padding-left: 14px;
    padding-bottom: 14px;
}

button:hover {
    color: var(--color-accent);
}

.bold {
    font-weight: 900;
}

.active-dropdown {
    background-color: var(--color-primary);
}

.dropdown-container>p:hover {
    background-color: #81aa53;
}

#deleteAccBtn {
    color: red;
}

.caret-down-icon {
    height: 18px;
    display: inline;
    float: right;
    padding-left: 34px;
}

section {
    background-color: var(--background-color);
    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

#playBtnContainer {
    display: flex;
    flex: auto;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 2rem;

}

#playBtn,
#startQuizBtn,
#findResultBtn {

    background-image: linear-gradient(to right, #ADD100 0%, #7B920A 51%, #ADD100 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border: transparent;
    border-radius: 10px;
    display: block;

}

#playBtn:hover,
#startQuizBtn:hover,
#findResultBtn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#beforeQuizContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#startQuizBtn {
    margin-top: 4rem;
}

#questionsContainer {
    width: 38rem;
    background-image: linear-gradient(var(--background-gradient));

}

#questionsContainer p {
    padding: 1rem;
    margin: 1rem;

}

#countdown {
    display: flex;
    justify-content: right;

}


input[type="radio"] {
    padding: 4px;
    margin: 8px;
}

footer {
    background-color: var(--color-secondary);
    grid-area: foot;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: var(--font-color);
}

footer a:hover {
    color: gray;
}


.link-item {
    padding: 3rem;
    margin-bottom: 4rem;
    text-decoration: none;
}

/* FEEDBACK FORM */

.lightbox {
    display: none;
}

.lightbox:target {
    position: absolute;
    left: 33%;
    bottom: 9%;
    width: 500px;
    display: flex;
}

.lightbox .close {
    position: relative;
    display: block;
}

.lightbox .close::after {
    right: -1rem;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: #344f15;
    border-radius: 50%;
    color: white;
    content: "×";
    cursor: pointer;
}

h3 {
    margin-bottom: 3px;
}

textarea {
    width: 450px;
    height: 116px;
}

.feedback-form {
    width: 28em;
}

h3,
.feedback-form > p {
    color: white;
    margin-top: 6px;
    line-height: 1.5;
    text-align: center;
}


.feedbackFormContainer {
    padding: 20px;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to top, #75933a, #8BC34A);
}

.user-input {
    width: 450px;
    height: 35px;
    margin-top: 0.5px;
    margin-bottom: 4px;
}

.submit-btn {
    width: 455px;
    padding: 13px;
    color: white;
    background-color: #496925;
    border: 2px solid #253e0a;
}

@media screen and (max-width: 962px) {

    /* TO DO IN THE FUTURE: MAKE THE PROJECT INTERFACE FULLY RESPONSIVE ON TABLETS AS WELL */

}

@media screen and (max-width: 720px) {

    body {
        overflow: unset;
    }


    #grid-container {
        height: fit-content;
        display: grid;
        grid-template-areas:
            "head nav nav"
            "section section section"
            "section section section"
            "foot foot foot";
        grid-template-rows: 1fr 4.6fr 1fr;
        grid-template-columns: 1fr;
    }

    #headerNav,
    section {
        height: auto;
        display: flex;
        flex-direction: column;
    }


    h1 {
        display: inline-flex;
    }


    #sidenav-container {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--color-primary);
    }

    .toggle-menu {
        height: 30px;
    }

    section {
        flex: auto;
    }

    footer {
        height: min-content;
    }


    .icon-item {
        margin-top: 24px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    .active-dropdown {
        background-color: var(--color-secondary);
    }

    button:hover {
        color: var(--font-color);
    }

    .link-item {
        margin-bottom: 1rem;
    }

}