body {
    height: auto;
    width: 50vw;

}

nav {
    grid-area: nav;
    height: inherit;

}

#sidenav-container {
    /* height: max-content; */
    padding-top: 40px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: floralwhite;
}

.btn-style {
    padding-left: 14px;
    padding-bottom: 14px;
}

button:hover {
    color: yellowgreen;
}

.hide {
    display: none;
}

.bold {
    font-weight: 900;
}

.active-dropdown {
    background-color: yellowgreen;
}

/* NOT IMPLEMENTED YET */
.active-btn:hover {
    background-color: white;
}

#delete-acc-btn {
    color: red;
}

.caret-down-icon {
    height: 18px;
    display: inline;
    float: right;
    padding-left: 34px;
}