<nav id="sidenav-container">
    <div>
        <div>
            <div class="dropdown">
                <button click="toggle(0)" class="btn-style dropdown-btn">My Quizzes
                    <img src="https://svgshare.com/i/sSs.svg" alt="caret-down-icon"
                        class="caret-down-icon"></button>
                <div class="btn-style dropdown-container hide">
                    <p><button class="btn-style"> Previous Quizzes</button></p>
                    <p><button class="btn-style"> My Favourite Categories</button></p>
                </div>
            </div>


            <div class="dropdown">
                <button click="toggle(1)" class="btn-style dropdown-btn">My Account <img
                        src="https://svgshare.com/i/sSs.svg" alt="caret-down-icon"
                        class="caret-down-icon"></button>

                <div class="btn-style dropdown-container hide">
                    <p><button class="btn-style"> Change Username</button></p>
                    <p><button class="btn-style"> Change Password</button></p>
                    <p><button class="btn-style"> Change Username</button></p>
                    <p><button class="btn-style" id="delete-acc-btn"> Delete Account</button></p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <button (click)= "logout()" class="btn-style">Log Out</button>
    </div>
</nav>

